<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <h1>Área protegida</h1>

    <p>
        Bem-vindo,
        <strong>
            <%= user.name %>
        </strong>
    </p>

    <p>Email: <%= user.email %>
    </p>

    <a href="/logout">
        Sair
    </a>
</body>

</html>