<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>

    <form action="/login" method="POST">
        <div>
            <label>Email</label>
            <input type="email" name="email" required>
        </div>

        <div>
            <label>Senha</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit">
            Entrar
        </button>
    </form>
</body>

</html>