<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Acesso negado</title>
</head>

<body>
    <h1>Acesso não autorizado</h1>

    <p>
        Email ou senha inválidos.
    </p>

    <a href="/login">
        Voltar para login
    </a>
</body>

</html>